body {
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:black;
    height: 26px;
    top: 0;
    margin-top:0px;
    width: 100%;
}

.top-left-bar a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    padding-left: 10px;
}

.top-right-bar a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    padding-right: 10px; 
}

.top-second{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: white;
    width: 100%;
    position:fixed;
    height: 30px;
    margin-bottom: 20px;
}

.top-second-left a{
    text-decoration: none;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
}

.top-second-right a{
    text-decoration: none;
    color: gray;
    padding-right: 10px;
}

.img-trio{
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top: 3%;
}

.flex-left{
    width: 58%;
    margin: 0.5%;
    background-image: url("/Assets/img-trio.png")
}

.flex-left a{
    text-decoration: none;
    color: white;
}
.flex-right{
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    width: 38%;
}

.flex-right-child-1{
    background-image: url("/Assets/image-trio-2.webp");
    margin-bottom: 0.5%;
}

.flex-right-child-1 a{
    text-decoration: none;
    color: white;
}

.flex-right-child-2{
    background-image: url("/Assets/image-trio-3.webp");
    margin-top: 0.5%;
}

.flex-right-child-2 a{
    text-decoration: none;
    color: white;
}

.image-section-1{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 0;
    margin-left: 5%;    
}

.news-img-1{
    
    margin-left: 20px;
    padding-top: 0;
    margin-top: 0;
}

.news-img-1 > a{
    text-decoration:none ;
    color: black;
}

.news-img-1 > p > a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.news-img-1 > p{
    font-size: 12px;
}

.section-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
    margin-left: 5%;
}

.section-heading-left a{
    text-decoration: none;
    color: orange;
}

.section-heading-right a{
    text-decoration: none;
    color: orange; 
    margin: 10px;
}

.info-cards{
    float: left;
    width: 23.5%;
    box-sizing: border-box;
    height: 300px;
    position: relative;
    margin: 10px;
    
}

.info-cards-image{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.info-cards a{
    text-decoration: none;
}

.top-title-1{
    background-color: orangered;
    height: 50px;
    text-align: center;
    margin-top: -18px;
}

.top-title-1 h3{
    padding: 3px;
    color: white;
}

.top-title-2{
    background-color:#ffece7;
    text-align: center;
    margin-top:-18px;
    color: black;
}

.main-section{
    background-color: gray;
    padding: 5px;
    margin-top: -15px;
    color: black;
    font-size: 14px;
   
}

.last-section{
    background-color: gray;
    padding: 5px;
    color: black;
    font-size: 14px;
}

.great-mid {
    width: 86%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    grid-template-areas:
    "hard apps gear"
    "tech creative podium"
    "insights launch distract";
}

.hard-fork { grid-area: hard;
    display:flex;
    flex-direction: column;
}
.apps { grid-area: apps;
    display:flex;
    flex-direction: column;
}
.gear { grid-area: gear;
    display:flex;
    flex-direction: column;
}
.tech { grid-area: tech;
    display:flex;
    flex-direction: column;
}
.creative { grid-area: creative;
    display:flex;
    flex-direction: column;
}
.podium { grid-area: podium;
    display:flex;
    flex-direction: column;
}
.insights { grid-area: insights;
    display:flex;
    flex-direction: column;
}
.launch { grid-area: launch;
    display:flex;
    flex-direction: column;
}
.distract { grid-area: distract;
    display:flex;
    flex-direction: column;
}

.hard-fork-p1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 55%),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/07/Trump-Twitter-368x276.jpg");
    background-size: cover;
    height: 250px;
    color: #ffffff;
    position: relative;
}

.apps-p1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 55%),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Untitled-design-2020-10-01T165604.930-368x276.png");
    background-size: cover;
    height: 250px;
    color: #ffffff;
    position: relative;
}

.gear-p1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 55%),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Qualcomm-Snapdragon-870-368x276.jpg");
    background-size: cover;
    height: 250px;
    color: #ffffff;
    position: relative;
}

.tech-p1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 55%),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1-copy-32-368x276.jpg");
    background-size: cover;
    height: 250px;
    color: #ffffff;
    position: relative;
}

.creative-p1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 55%),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/Untitled-design-13-368x276.png");
    background-size: cover;
    height: 250px;
    color: #ffffff;
    position: relative;
}

.podium-p1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 55%),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/open-source-code-gq-368x276.png");
    background-size: cover;
    height: 250px;
    color: #ffffff;
    position: relative;
}

.insights-p1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 55%),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/salary-negotiation-meeting-gq-368x276.png");
    background-size: cover;
    height: 250px;
    color: #ffffff;
    position: relative;
}
.launch-p1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 55%),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/toyota-suv-new-ev-car-future-electric-japan-368x276.jpg");
    background-size: cover;
    height: 250px;
    color: #ffffff;
    position: relative;
}

.distract-p1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 55%),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/bloodlines-368x276.jpg");
    background-size: cover;
    height: 250px;
    color: #ffffff;
    position: relative;
}

.hard-fork h2, .apps h2, .tech h2, .gear h2, .creative h2, .podium h2, .insights h2, .launch h2, .distract h2 {
    color:#f42;
    font-weight: 900;
}

.hard-fork-p1-text, .apps-p1-text, .tech-p1-text, .gear-p1-text, .creative-p1-text, .podium-p1-text, .insights-p1-text, .launch-p1-text, .distract-p1-text {
    position:absolute; 
    bottom: 0;
    left: 0.8rem;
}

.hard-fork-p1-text h3 h5 p, .apps-p1-text h3 h5 p, .tech-p1-text h3 h5 p, .gear-p1-text h3 h5 p, .creative-p1-text h3 h5 p, .podium-p1-text h3 h5 p, .insights-p1-text h3 h5 p, .launch-p1-text h3 h5 p, .distract-p1-text h3 h5 p {
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}

.hard-fork-p2, .apps-p2, .tech-p2, .gear-p2, .creative-p2, .podium-p2, .insights-p2, .launch-p2, .distract-p2 {
    background-color: rgba(255,68,34,.06);
    display: flex;
    margin-top: 2px;
    justify-content: space-between;
}
.hard-fork-p2-text, .apps-p2-text, .tech-p2-text, .gear-p2-text, .creative-p2-text, .podium-p2-text, .insights-p2-text, .launch-p2-text, .distract-p2-text {
    color:#f42;
    padding: 10px;
}
.hard-fork-p2-text p, .apps-p2-text p, .tech-p2-text p, .gear-p2-text p, .creative-p2-text p, .podium-p2-text p, .insights-p2-text p, .launch-p2-text p, .distract-p2-text p { 
    font-weight: 700;
    font-size: 14px;
}
.hard-fork-p2-text h5, .apps-p2-text h5, .tech-p2-text h5, .gear-p2-text h5, .creative-p2-text h5, .podium-p2-text h5, .insights-p2-text h5, .launch-p2-text h5, .distract-p2-text h5 { 
    font-weight: 200;
}

.hard-fork ul, .apps ul, .gear ul, .tech ul, .creative ul, .podium ul, .insights ul, .launch ul, .distract ul {
    list-style: none;
    padding-left: 1em;
}
.hard-fork ul li, .apps ul li, .gear ul li, .tech ul li, .creative ul li, .podium ul li, .insights ul li, .launch ul li, .distract ul li {
    color:#555; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    padding: 2px 0 4px 0;
}

.hard-fork ul li::before {
    content: "\2022"; 
    color: #f42;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.apps ul li::before {
    content: "\2022"; 
    color: #f42;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.gear ul li::before {
    content: "\2022"; 
    color: #f42;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.tech ul li::before {
    content: "\2022"; 
    color: #f42;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.creative ul li::before {
    content: "\2022"; 
    color: #f42;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.podium ul li::before {
    content: "\2022"; 
    color: #f42;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.insights ul li::before {
    content: "\2022"; 
    color: #f42;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.launch ul li::before {
    content: "\2022"; 
    color: #f42;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.distract ul li::before {
    content: "\2022"; 
    color: #f42;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.ld-head {
    display: flex;
    width: 86%;
    height: auto;
    margin: auto;
    justify-content:space-between;
    padding-bottom: 15px;
}
.left-ld-head {
    color:#f42;
    text-decoration: none;
    font-size: 28px;
    letter-spacing: -0.015em;
    font-weight: 700;
}

.right-ld-head {
    color:#f42;
    text-decoration: none;
    font-size: 18px;
}

.left-ld-head:hover { color: #000; }
.right-ld-head:hover { color: #000; }

.latest-deals {
    width: 86%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
}

.latest-deals a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 800;
    color: #000000;

}

.latest-deals a:hover { color:#f42; }

.latest-deals p {
    font-size: 100%;
    font-weight: 700;
    color: rgb(99, 99, 99); 
    margin-top: 0px;
}

.latest-deals span {
    text-decoration: line-through;
    margin-right: 5px;
    padding-right: 5px;
    font-size: 75%;
    color: rgba(0, 0, 0, 0.3);
}

.ld-img-1 { grid-area: 1 / 1 / 2 / 2; }
.ld-img-2 { grid-area: 1 / 2 / 2 / 3; }
.ld-img-3 { grid-area: 1 / 3 / 2 / 4; }
.ld-img-4 { grid-area: 1 / 4 / 2 / 5; }
.ld-img-5 { grid-area: 2 / 1 / 3 / 2; }
.ld-img-6 { grid-area: 2 / 2 / 3 / 3; }
.ld-img-7 { grid-area: 2 / 3 / 3 / 4; }
.ld-img-8 { grid-area: 2 / 4 / 3 / 5; }










footer {
    height: 500px;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.before-last {
    height: 60%;
    width: 100%;
    background-color: rgb(29, 26, 26);
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.before-last-top {
    padding-top: 80px;
    display: flex;
}

.social-sites{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    padding: 10px;
    margin-right: 15px;
}

.before-last-bottom {
    padding-top: 20px;
    display: flex;
}
/*
.fab-fa-facebook {
    padding: 10px 20px 10px 20px;
}

*/
.text-last {
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
}

.last-line {
    height: 40%;
    width: 100%;
    background-color: rgb(0,0,0);
    text-align: center;
}
.last-line p {
    padding-top: 60px;
    color: white;
}